<style>
  .contact-details {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }
</style>

<div class="section-footer__block col-span-2 block-richtext_M8YjmQ align-self-start">
  <div class="section-footer__content footer__richtext  text-start text-start--mobile">
    <h3 class="footer__block-heading">Business Info</h3>
    <div class="contact-details">
      <p>Amber House, Crompton &amp; Ward Street, OLDHAM, OL9 9ET</p>

      <p><strong>Working Hours</strong>: Monday to Friday: 9.00am - 5.00pm GMT<br></p>

      <p>
        <strong>Email</strong>:
        <a href="mailto:froobyuk@hotmail.com" title="mailto:froobyuk@hotmail.com">froobyuk@hotmail.com</a><br>
      </p>

      <p><strong>Phone</strong>: +44 7999 005880<br></p>
    </div>
  </div>
</div>
